<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer VueJS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="App">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Run</th>
                    <th scope="col">Nacimiento</th>
                    <th scope="col">Edad</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(user, i) in users" :key="i">
                    <th scope="row">{{ i+1 }}</th>
                    <td v-for="eachUser in users[i]">{{ eachUser }}</td>
            </tbody>
        </table>
    </div>
    <script>
        const app = new Vue({
            el: '#App',
            data: {
                users: [{
                        nombre: 'Pedro',
                        apellido: 'Peterson',
                        run: '11.123.123-1',
                        fNacimiento: '01-01-1991',
                        edad: 30
                    },
                    {
                        nombre: 'Juan',
                        apellido: 'Johnson',
                        run: '12.234.234-2',
                        fNacimiento: '02-02-1992',
                        edad: 29
                    },
                    {
                        nombre: 'Diego',
                        apellido: 'Jacobson',
                        run: '13.345.345-3',
                        fNacimiento: '03-03-1993',
                        edad: 28
                    },
                    {
                        nombre: 'Francisca',
                        apellido: 'Franklin',
                        run: '14.456.456-4',
                        fNacimiento: '04-04-1994',
                        edad: 27
                    },
                    {
                        nombre: 'María',
                        apellido: 'Benites',
                        run: '15.567.567-5',
                        fNacimiento: '05-05-1995',
                        edad: 26
                    },
                ]
            }
        });
    </script>
</body>

</html>